<div id="cat-chat-app">
  <div>
    <%= button_to 'Sign out', logout_path %>
  </div>
  <%= react_component("App", userDisplayName: current_user.display_name, activeConversations: @active_conversations) %>
</div>
