@import "bootstrap-sprockets";
@import "bootstrap";

.welcome-page {
  text-align: center;
}

.cat-logo {
  height: 200px;
}

.cat-logo-header {
  height: 50px;
}

.flash-error {
  background-color: #f78f8f;
}

.form-row {
  margin-bottom: 10px;
}

.sign-out-button {
  margin-top: 10px;
}

.selectable-conversation {
  color: dodgerblue;

  &:hover {
    cursor: pointer;
  }
}

.new-message-textarea {
  height: 75px;
  width: 300px;
}

.send-message {
  margin-bottom: 23px;
}
